:root {
  --color: 255, 255, 255;
  --outlineCol: 255, 255, 255;
  --bgColor: rgb(0, 0, 0);
  
  --headFootBgColor: rgba(15, 15, 15, 0.5);
  
  --card-color-opacity: 1;
  
  --card-bg-opacity: 0.5;
  --card-bg-color: 45, 45, 45;
  
  --card-outline-opacity: 0.75;
  --card-outline-col: 255, 255, 255;
  
  --scrollbar-color: rgba(55, 55, 55, 1) transparent;
}

.lightmode {
  --color: 0, 0, 0;
  --outlineCol: 0, 0, 0;
  --bgColor: rgb(255, 255, 255);
  
  --headFootBgColor: rgba(255, 255, 255, 0.5);
  
  --card-color-opacity: 1;
  
  --card-bg-opacity: 0.5;
  --card-bg-color: 230, 230, 230;
  
  --card-outline-opacity: 1;
  --card-outline-col: 0, 0, 0;
  
  --scrollbar-color: rgba(200, 200, 200, 1) transparent;
}


/*General*/
body {
  color: rgb(var(--color));
  background-color: var(--bgColor);
  
  padding: 0;
  margin: 0;
  
  font-family: monospace;
  cursor: default;
  
  height: 100vh;
  display: flex;
  
  flex-direction: column;
  overflow: hidden;
  
  transition: color 0.3s, background-color 0.3s;
}

header, footer {
  flex: 0;
}


/*Main css*/
main {
  overflow: hidden scroll;
  
  flex: 1;
}

* {
  scrollbar-color: var(--scrollbar-color);
  transition: scrollbar-color 0.3s;
}


/*Header css*/
header {
  background-color: var(--headFootBgColor);
  padding: 0;
  margin: 0;
  
  border-bottom-style: solid;
  
  transition: background-color 0.3s;
}

header h1, h2, a {
  padding: 0.5rem;
  margin: 0
}

header h1 {
  font-size: 4rem;
}

#headerSplitter {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

#headerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  
  padding: 0.5rem;
}

#headerRight a {
  transition: transform 0.3s;
}


/*Footer css*/
footer {
  padding: 1rem;
  
  background-color: var(--headFootBgColor);
  
  border-top-style: solid;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  transition: background-color 0.3s;
}


/*Card css*/
.card {
  background-color: rgba(var(--card-bg-color), calc(var(--card-bg-opacity) * var(--visibility)));
  
  padding: 1.25rem;
  margin: 2rem;
  
  color: rgba(var(--color), var(--visibility) * var(--card-color-opacity));
  
  border-style: solid;
  border-color: rgba(var(--card-outline-col), calc(var(--card-outline-opacity) * var(--visibility)));
  
  scale: calc(1.05 - var(--visibility) * 0.05);
  
  --visibility: 1;
  
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.card h3 {
  margin-top: 0;
  font-size: 1.75rem;
  
  margin-bottom: 0.75rem;
}

.card p {
  font-size: 1.25rem;
  
  margin-bottom: 0.5rem;
  padding: 0;
}

.card a {
  display: inline-block;
  
  padding: 0;
  margin-right: 1rem;
  
  font-size: 0.75rem;
  color: inherit;
}


/*General <a> css*/
a[href]:hover {
  transform: scale(1.05);
  cursor: pointer;
}

a[href] {
  text-decoration: underline;
  color: inherit;
  transition: transform 0.3s;
}


/*Overlay css*/
.no-transition {
  transition: none !important;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100vw;
  height: 100vh;
  
  background-color: black;
  transition: background-color 1s;
  
  pointer-events: none;
  z-index: 9999;
}



















