
html, body {
    height: 100%;
}

header {
  background-color: rgba(25, 25, 25, 0.95);
  padding: 20px;
  text-align: left;
  border-bottom: 3px solid rgb(50, 50, 50);
  
  align-items: left;
}
header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
header p {
    font-size: 1.5rem;
    flex: 0 0 auto;
}
body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.theme1 {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%);
    background-color: #222222;
    color: #cccccc;
    outline-color: #cccccc;
    --card-shadow: 0 0 0px rgba(0, 0, 0, 0);
    --border-radius: 0px;
    --card-background: #333333;
}

.theme2 {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    clip-path: polygon(65% 0, 100% 0, 100% 100%, 35% 100%);
    background-color: transparent;
    color: #ffffff;
    
    outline-color: #ffffff;
    --card-shadow: 0 0 30px #00ffff, inset 0 0 25px #00ffff;
    --border-radius: 50px;
    --card-background: rgb(25, 25, 25, 0.8);
}

.card {
    width: 400px;
    height: 400px;
    text-align: center;
    align-content: center;
    background: var(--card-background);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    outline-width: 4px;
    outline-style: solid;
    box-shadow: var(--card-shadow);
    border-radius: var(--border-radius);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.rememberChoiceSelector {
    font-size: 1rem;
    margin: 10px;
}

.rememberChoiceBtn {
    width: 15px;
    height: 15px;
    
}

.proffesionalSelection {
    display: flex;
    flex-direction: row;
}

.choiceButtons {
    display: inline-block;
    width: 150px;
    background-color: #222222;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #cccccc;
    margin: 10px;
    
    color: #ffffff;         /* sets text color */
    text-decoration: none;
}

.bottomChoices {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%)
    
}

.overlay {
    position: absolute;
    width: 100vw;  /* 100% of viewport width */
    height: 100vh; /* 100% of viewport height */
    background-color: transparent;
    transition: background-color 0.3s;
    pointer-events: none;
}















