:root {
    --bg-color: rgb(0, 0, 0);
    
    --main-base: 0, 0, 0;
    --secondary-base: 50, 50, 50;
    --contrast-base: 255, 255, 255;
    --text-base: 255, 255, 255;
    
    --header-alpha: 0;
    --body-alpha: 1;
    --card-alpha: 1;
    
    --card-border-radius: 0px;
    
    --glow-color: rgb(0, 255, 255);
    --glow-radius: 0px;
    
    --shift: 20%; /*Percentage to shift towards grey*/
    
    
    /*calculated general colors, no alpha*/
    --main-color: color-mix(in srgb, rgb(var(--main-base)) calc(100% - var(--shift)), rgb(127, 127, 127) var(--shift));
    
    --secondary-color: color-mix(in srgb, rgb(var(--secondary-base)) calc(100% - var(--shift)), rgb(127, 127, 127) var(--shift));
    
    --contrast-color: color-mix(in srgb, rgb(var(--contrast-base)) calc(100% - var(--shift)), rgb(127, 127, 127) var(--shift));
    
    --text-color: color-mix(in srgb, rgb(var(--text-base)) calc(100% - var(--shift)), rgb(127, 127, 127) var(--shift));
    
    
    /*component specific colors*/
    --header-color: rgba(from var(--bg-color) r g b / var(--header-alpha));
    
    --body-color: rgba(from var(--main-color) r g b / var(--body-alpha));
    
    --card-color: rgba(from var(--secondary-color) r g b / var(--card-alpha));
}

.light-mode {
    --bg-color: white;
    
    --main-base: 255, 255, 255;
    --secondary-base: 238, 238, 238;
    --contrast-base: 0, 0, 0;
    --text-base: 0, 0, 0;
    
    --glow-color: rgb(0, 0, 0);
    
    /*calculated general colors, no alpha*/
    --main-color: color-mix(in srgb, rgb(var(--main-base)) calc(100% - var(--shift)), rgb(127, 127, 127) var(--shift));
    
    --secondary-color: color-mix(in srgb, rgb(var(--secondary-base)) calc(100% - var(--shift)), rgb(127, 127, 127) var(--shift));
    
    --contrast-color: color-mix(in srgb, rgb(var(--contrast-base)) calc(100% - var(--shift)), rgb(127, 127, 127) var(--shift));
    
    --text-color: color-mix(in srgb, rgb(var(--text-base)) calc(100% - var(--shift)), rgb(127, 127, 127) var(--shift));
    
    
    /*component specific colors*/
    --header-color: rgba(from var(--bg-color) r g b / var(--header-alpha));
    
    --body-color: rgba(from var(--main-color) r g b / var(--body-alpha));
    
    --card-color: rgba(from var(--secondary-color) r g b / var(--card-alpha));
}

.fun-mode {
    --header-alpha: 0.8;
    --body-alpha: 0;
    --card-alpha: 0.8;
    
    --card-border-radius: 10px;
    
    --glow-radius: 10px;
    
    --shift: 0%;
    
    /*calculated general colors, no alpha*/
    --main-color: color-mix(in srgb, rgb(var(--main-base)) calc(100% - var(--shift)), rgb(127, 127, 127) var(--shift));
    
    --secondary-color: color-mix(in srgb, rgb(var(--secondary-base)) calc(100% - var(--shift)), rgb(127, 127, 127) var(--shift));
    
    --contrast-color: color-mix(in srgb, rgb(var(--contrast-base)) calc(100% - var(--shift)), rgb(127, 127, 127) var(--shift));
    
    --text-color: color-mix(in srgb, rgb(var(--text-base)) calc(100% - var(--shift)), rgb(127, 127, 127) var(--shift));
    
    
    /*component specific colors*/
    --header-color: rgba(from var(--bg-color) r g b / var(--header-alpha));
    
    --body-color: rgba(from var(--main-color) r g b / var(--body-alpha));
    
    --card-color: rgba(from var(--secondary-color) r g b / var(--card-alpha));
}

html {
    height: 100%
}

body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Roboto Mono', monospace, sans-serif;
    color: var(--text-color);
    
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

/*header*/
header {
    margin: 0;
    background-color: var(--header-color);
    border-bottom: solid var(--contrast-color);
    box-shadow: 0 0 calc(var(--glow-radius) * 2) var(--glow-color);
}

header h1 {
    margin: 0;
    padding: 15px;
    font-size: 3.3rem;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.topicSelectionButton {
    flex: 1;
    
    background-color: var(--secondary-color);
    color: var(--text-color);
    
    border-radius: 0;
    border-width: 1px;
    border-color: var(--contrast-color);
    
    min-height: 50px;
    width: 100%;
    
    transition: border-color 0.3s, color 0.3s;
}

.settingButton {
    flex: 1;
    border-width: 0.5px;
    border-style: solid;
    min-height: 51px;
}


.settings {
    position: absolute;
    right: 0%;
    display: flex;
    width: calc(100vw / 7);
    height: 51px;
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;
    
    transition: height 0.15s;
}

.selectionRow {
    align-items: flex-start;
    box-shadow: 0 0 calc(var(--glow-radius) * 2) var(--glow-color);
} 

header p {
    margin: 20px;
}
/*header*/

main {
    background-color: var(--body-color);
    
    position: relative;
    
    display: flex;
    flex: 1;
    flex-direction: column;
    
    justify-content: flex-start;
    align-content: center;
    
    justify-self: stretch;
    align-self: stretch;
}


.card {
    margin: 40px;
    padding: 10px;
    
    background-color: var(--card-color);
    
    border-style: solid;
    border-radius: var(--card-border-radius);
    
    box-shadow: 0 0 var(--glow-radius) var(--glow-color), inset 0 0 var(--glow-radius) var(--glow-color);
}

.card h2, p {
    margin: 5px;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: black;
    transition: background-color 0.3s;
    pointer-events: none;
    z-index: 10000;
}
























